body {
  background-image: url(bgimg.jpg);
  background-size: cover;
  background-position: center;
  margin: 0;
  padding-top: 20px; /* Add margin at the top */
}

.container {
  margin: 0 auto;
  max-width: 90%;
  width: 550px;
  height: auto;
  padding: 30px;
  border: solid darkblue;
  box-shadow: 0 2px 10px 0 white, 0 2px 10px 2px white;
  border-top-left-radius: 100px;
  box-sizing: border-box;
}

.container h1 {
  color: greenyellow;
  text-align: center;
  font-weight: 900;
  font-style: italic;
}

.form h3 {
  color: white;
  font-weight: 600;
  text-align: center;
}

.textarea {
  text-align: center;
  font-weight: 500;
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 200px;
  height: 25px;
  border: solid rgb(5, 5, 58);
  border-radius: 4px;
  background-color: beige;
}

.btn {
  display: block;
  margin: 25px auto;
  width: 100%;
  max-width: 200px;
  height: 30px;
  border-radius: 20px;
  font-size: 16px;
  background-color: rgb(11, 1, 37);
  color: white;
  border: none;
  box-shadow: 0 2px 10px 0 white, 0 2px 10px 2px white;
}

#weight-guide {
  background-color: rgb(11, 1, 37);
  margin-top: 30px;
  border: solid darkslategray;
}

#weight-guide h3 {
  color: white;
  font-weight: 600;
}

#weight-guide p {
  text-align: center;
  color: white;
}

#results {
  text-align: center;
  color: darkgray;
  font-size: 40px;
  margin: 20px auto;
  color: rgb(211, 233, 12);
  font-weight: bolder;
}

@media (max-width: 600px) {
  .container {
    padding: 15px;
  }

  .btn {
    width: 90%;
  }

  #results {
    font-size: 30px;
  }
}
